!server/node_modules/
server/node_modules/*
!server/node_modules/loopback-datasource-juggler/
server/node_modules/loopback-datasource-juggler/*
!server/node_modules/loopback-datasource-juggler/lib/
server/node_modules/loopback-datasource-juggler/lib/*
!server/node_modules/loopback-datasource-juggler/lib/datasource.js
!server/node_modules/loopback-connector-postgresql/
server/node_modules/loopback-connector-postgresql/*
!server/node_modules/loopback-connector-postgresql/lib/
server/node_modules/loopback-connector-postgresql/lib/*
!server/node_modules/loopback-connector-postgresql/lib/postgresql.js

!server/node_modules/@loopback/
server/node_modules/@loopback/*
server/node_modules/@loopback/authorization
server/node_modules/@loopback/authorization/*
!server/node_modules/.prisma/

apps/samplecollector/android/app/build
apps/samplecollector/android/.gradle
apps/samplecollector/node_modules

server/package-lock.json
server/dist
server/.history
server/tsconfig.tsbuildinfo
server/*.log*
server/*-audit.json
server/.nyc_output
server/datasources
server/.vscode

**/package-lock.json
**/.gradle
**/yarn.lock
**/dist
